#table-area th {
    text-align: left;
  }
  
#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
    min-width: 70px;
  }

@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: #1b3146;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: aliceblue;
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: center;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  }

 
}


body {
    background-color: #ededed;
}

nav.navbar-default {
    background-color: white;
}

.main-chart-image {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.pulse-line-image {
    float: left;
    width: 250px;
    height: 50px;
    margin-right: 15px;
}

@media (max-width: 991.98px) { 
    .main-chart-image {
        width: 100%;
        height: 100%;
    } 
}

.secondary-chart-image {
    float: left;
   
    /*margin-right: 15px;*/
}

.chart-container {
    background-color: white;
    padding: 15px;
}

hr.line-separator{
	border-top: 1px solid #ede3e3;
}

h1, h2, h3 {
    color: #B22222;
}

.navbar-default .navbar-brand {
    background-color: #B22222;
    color:white;
}

.comparison {
    background-color: white;
}
.comparison-container {
    padding: 15px;
}
.compare-title {
    text-align: center;
    padding-top:15px;
}
.comparison-chart-image {
    width: 100%;
}

.hide-data {
    display: none;
}
.show-data {
    display: block;
}
